
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.Main-About{
  height: 100vh;
  background-color: hsl(32, 100%, 50%);
  

  


}
.About{
  padding-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.About h1 {
  margin: 0;
}

.Image-Container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-color: solid white;
  outline: solid black;
  background-color: white;
  padding: 10px;
}

.Image-Container > img {
  width: fit-content;
  height: 100%;
}

.Content {
  height: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}


h1{
  font-size: 50px;
}

p{
  font-size: 25px;
  color: white;
  font-weight: 300;
}



.logo-main{
  
  padding-top: 50px;
  overflow-x: hidden;

}

.logo-container {
  
  width:max-content;
  display: flex;
  animation: scroll 10s linear infinite;
  background-color: white;
}

.logo{
  height: 100px;
  width: fit-content;
  background: transparent;
background-color: transparent;
  margin-right: 50px;
  background-color: white 0.9;
  padding: 20px;

}

